VITE_ENVIRONMENT=pro
VITE_APP_NAME=VNR Keys
VITE_APP_VERSION=1.0.0
VITE_API_URL_LOCAL=http://localhost:6203/api
VITE_API_URL_DEV=https://dev-keys.vjstartup.com/be/api
VITE_API_URL_PRO=https://keys.vjstartup.com/be/api
VITE_FRONTEND_URL_LOCAL=http://localhost:3203
VITE_FRONTEND_URL_DEV=https://dev-keys.vjstartup.com
VITE_FRONTEND_URL_PRO=https://keys.vjstartup.com
